---
import CameraSvg from "../components/icons/CameraSvg.astro";
import { trabajos, categorias } from "../trabajos.js";
import TourSvg from "./icons/TourSvg.astro";
---

<section id="gallery" class="w-[75vw] mx-auto my-32">

  {categorias.map(categoria => (
    <>
      <h2 class="text-2xl font-bold py-4 mb-8 border-b border-black">
        {categoria.nombre}
      </h2>
      <div class="mb-20 grid grid-cols-4 gap-3">
        {categoria.colecciones.map(coleccion => 
          <a class="p-0" href={trabajos[coleccion].galeria.length > 0 ? `/galeria/${coleccion}` : `/tours/${coleccion}`}>
            <div class="relative border border-gray-300 rounded-lg overflow-hidden">
              <h3 class="font-bold absolute top-0 py-2 px-4 w-full z-10 card-title">
                {trabajos[coleccion].nombre}
              </h3>
              <img
                class="w-full h-[250px] object-cover object-center"
                src={trabajos[coleccion].portada}
                alt="img"
              />
              <div class="absolute bottom-0 right-0 z-10 card-icon icon-right ">
                <CameraSvg class="w-5 h-5 md:h-8 md:w-8 m-2 hover:text-[var(--primary)]" />
              </div>
              {trabajos[coleccion].tour && (
                <div class="absolute bottom-1 left-2 z-10 card-icon icon-left">
                  <div class="spinner">
                    <TourSvg class="w-12 h-10 p-1 hover:text-[var(--primary)]" />
                  </div>
                </div>
              )}
            </div>
          </a>
          )}
        </div>
        </>
  ))}

</section>

<style>
  .card-title::after,
  .card-icon::after {
    position: absolute;
    z-index: -1;
    content: "";
    inset: 0;
    left: -10%;
    top: -100%;
    height: 275%;
    background: linear-gradient(
      rgb(248, 248, 248, 0.9) 50%,
      rgb(248, 248, 248, 0)
    );
    filter: blur(5px);
    transform: rotate(-10deg);
  }
  .icon-right::after {
    left: -100%;
    right: -200%;
    top: -75%;
    height: 200%;
    transform: rotate(-220deg);
  }
  .icon-left::after {
    left: -150%;
    right: -150%;
    top: -50%;
    height: 220%;
    transform: rotate(-145deg);
  }
  .spinner {
    perspective: 500px;
    animation: spin 1s linear infinite alternate;
  }
  @keyframes spin {
    to {
      transform: rotateY(90deg);
    }
  }
</style>
