---
import CameraSvg from "./icons/CameraSvg.astro";
import { trabajos, categorias } from "../trabajos.js";
import TourSvg from "./icons/TourSvg.astro";
---

<section id="gallery" class="w-full mt-20 sm:px-2">
  {
    categorias.map((categoria) => (
      <div class="mt-20">
        <h2 class="text-2xl font-bold py-4 mb-8 border-b border-gray-500">
          {categoria.nombre}
        </h2>
        <div class="grid grid-cols-2 xl:grid-cols-4 gap-4">
          {categoria.coleccion.map((galeria) => (
            <a
              class="p-0 my-shadow-outline"
              href={
                trabajos[galeria].galeria.length > 0
                  ? `/galeria/${galeria}`
                  : `/tour/${galeria}`
              }
            >
              <div class="relative border border-gray-300 rounded-lg overflow-hidden">
                <h3 class="font-bold absolute top-0 py-2 px-4 w-full z-10 card-title">
                  {trabajos[galeria].nombre}
                </h3>
                <img
                  id={galeria}
                  class="w-full aspect-square object-cover object-center"
                  src={trabajos[galeria].portada}
                  alt={`imagen de ${trabajos[galeria].portada}`}
                />
                {trabajos[galeria].galeria.length > 0 && (
                  <div class="absolute bottom-0 right-0 z-10 card-icon icon-right ">
                    <CameraSvg class="w-5 h-5 md:h-8 md:w-8 m-2 hover:text-my-primary" />
                  </div>
                )}
                {trabajos[galeria].tour && (
                  <div class="absolute bottom-0 left-0 z-10 card-icon icon-left">
                    <div class="spinner">
                      <TourSvg class="w-12 h-10 p-1 hover:text-my-primary" />
                    </div>
                  </div>
                )}
              </div>
            </a>
          ))}
        </div>
      </div>
    ))
  }
</section>

<style>
  .card-title::after,
  .card-icon::after {
    position: absolute;
    z-index: -1;
    content: "";
    inset: 0;
    left: -10%;
    top: -100%;
    height: 250%;
    background: linear-gradient(
      rgb(248, 248, 248, 0.9) 50%,
      rgb(248, 248, 248, 0)
    );
    filter: blur(5px);
    transform: rotate(-10deg);
  }
  .icon-right::after {
    left: -100%;
    right: -200%;
    top: -50%;
    height: 200%;
    transform: rotate(-215deg);
  }
  .icon-left::after {
    left: -150%;
    right: -150%;
    top: -50%;
    height: 200%;
    transform: rotate(-150deg);
  }
  .spinner {
    perspective: 500px;
    animation: spin 1s linear infinite alternate;
  }
  @keyframes spin {
    to {
      transform: rotateY(90deg);
    }
  }
</style>
