---
const { id, fotos, alt } = Astro.props;
---

<article id={id}>
  <div class="w-full flex justify-between items-center">
    <h2 class="text-3xl font-semibold py-4">{alt}</h2>
    <span class="border-b-2 border-black w-1/2"></span>
    <label class="h-10 w-10">
      <input class="hidden" type="checkbox" />
      <svg
        class="h-full w-full"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M6 15l6 -6l6 6"></path></svg
      >
    </label>
  </div>
  <div class="x">
    <div class="grid grid-cols-4 gap-2 fotos-container mb-16">
      {
        fotos.map((foto, index) =>
          foto.includes("360.svg") ? (
            <a
              class="border border-gray-300 rounded-lg overflow-hidden bg-black/10 flex flex-col items-center justify-center gap-4 cursor-pointer my-shadow-outline group"
              href={`/tours/${id}`}
            >
              <p class="text-center font-bold text-4xl group-hover:-translate-y-2 group-hover:scale-110 transition-transform">
                Vista
              </p>
              <picture class="w-1/2 group-hover:translate-y-2 group-hover:scale-110 transition-transform">
                <img
                  class="w-full h-full"
                  src={foto}
                  alt={`${alt} ${index + 1}`}
                  title={`${alt}_${index + 1}`}
                  loading="lazy"
                  decoding="async"
                />
              </picture>
            </a>
          ) : (
            <picture class="border border-gray-300 rounded-lg overflow-hidden bg-black/10 min-h-[250px]">
              <img
                class="w-full h-full"
                src={foto}
                alt={`${alt} ${index + 1}`}
                title={`${alt}_${index + 1}`}
                loading="lazy"
                decoding="async"
              />
            </picture>
          ),
        )
      }
    </div>
  </div>
</article>
